body {
    margin: 50px;
}

.centered-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 50px;
}
.mid {
    display: flex;
    justify-content: space-between;
}

.totalscore,
.currentband,
.band {
    flex-basis: 30%;
}
/* .table{
    width:320px;
} */

.left-menu {
    width: 200px;
    background-color: #000033;
    text-align: center;
    color: #fff;
    padding: 20px 20px 50px;
    border-radius: 5px 0 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow-y: auto; */
    /* Add this line */
    height: 96%;
    /* margin-top: 50px;
    margin-bottom: 50px; */
}
.backimage{
    opacity: 0.2;
    background-size: cover;
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.full-name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
}

.reg-no,
.Phno,
.email,
.branch {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 1px;
}

.right-content {
    /* width: calc(100% - 250px); */
    padding: 20px;
    background-color: #b0dfef;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    flex-grow: 1;
    height: 100%;
    /* background-image: url("/newstd/blackbuckslogo.png"); */
    /* background-size: cover;
    position: relative;
    z-index: 1; */
    /* opacity: 0.2; */
}
.right-content-inner {
    /* position: absolute; */
    /* top: 1; */
    /* left: 0; */
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #080808;
    z-index: 2;
    /* opacity: 0.8; */
}

.box-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
}

.box-content {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
}